
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/validator.min.js"></script>
<style>
    body {
        background-image: url('../../Images/Login/photograph.jpeg');
    }
</style>
<div ng-app="BinGoApp" ng-controller="LoginCtrl" class="lg-content-agileits">
    <form data-toggle="validator" role="form">
        <div class="form-group">
            <label class="control-label">用户名</label>
            <input type="text" class="form-control" id="Email" ng-model="username" placeholder="用户名" data-error="请输入用户名！" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="control-label">用户密码</label>
            <input type="password" class="form-control" id="Password" ng-model="password" placeholder="用户密码" data-error="请输入用户密码！" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success" ng-click="submit()">登录</button>
        </div>
    </form>
</div>