
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/normalize.css" rel="stylesheet" />
<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/Content/alpha.css" rel="stylesheet" />
<link href="~/Content/contactStyle.css" rel="stylesheet" />
<script src="~/Scripts/alpha.js"></script>

<div class="jq22-container" style="margin-top: 8%;">
    <div class="jq22-demo center">
        <h1 style="font-family: 'IDAHO_Conrad_Garner'; font-size: 300%; ">We Are BinGo Team.</h1>
    </div>
    <section id="testimonials">
        <div class="testim-ovl">
        </div>
        <div class="testimonials-wrapper">
            <ul class="testimonials-line">
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            貌美如花Master，颜值与实力并存，爬虫一战，取百万数据首级，一手扯大了项目数据库。
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/liuxiaohan.png" />
                        </span>
                        <span class="cus-name">
                            刘潇涵
                            <span class="cus-title">
                                项目经理
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            口头禅是：我不会，我不行。实际上，精通大数据与推荐算法，Carry了整个团队，是一个隐藏实力的王胖子！
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/wangjie.png" />
                        </span>
                        <span class="cus-name">
                            王节
                            <span class="cus-title">
                                产品经理
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            大家好，页面很丑是不是？但是如果你见过我的毕设，你就会明白这不是最丑的。Anyway，俺在进步中！
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/xuyuhang.JPG" />
                        </span>
                        <span class="cus-name">
                            徐宇航
                            <span class="cus-title">
                                前端设计
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            技术与帅气的化身，产品经理好搭档，接口的事儿，放着我来，反正出了Bug，王节背锅！
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/yuanjunxiang.jpg" />
                        </span>
                        <span class="cus-name">
                            袁俊翔
                            <span class="cus-title">
                                接口设计
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            实训是实习的前奏，渐渐地习惯了朝九晚九的苦逼程序员生活。学的很多，忘得也快，不知何日成大神？
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/duanqin.png" />
                        </span>
                        <span class="cus-name">
                            段钦
                            <span class="cus-title">
                                技术支持
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p style="color: whitesmoke">
                            实训中，接触到了一些很新鲜的知识，了解一大串高大上的名词，ALS、Spark、Hadoop……不行啦，脑内存不够了！
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/xiangyifan.jpg" />
                        </span>
                        <span class="cus-name">
                            项逸凡
                            <span class="cus-title">
                                技术支持
                            </span>
                        </span>
                    </div>
                </li>
                <span id="prev"> </span>
                <span id="next"></span>
            </ul>
        </div>
    </section>
</div>
<script>

    $('#testimonials').show();

</script>