
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/normalize.css" rel="stylesheet" />
<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/Content/alpha.css" rel="stylesheet" />
<link href="~/Content/contactStyle.css" rel="stylesheet" />
<script src="~/Scripts/alpha.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<div class="jq22-container" style="margin-top: 200px;">
    <section id="testimonials">
        <div class="testim-ovl">
        </div>
        <div class="testimonials-wrapper">
            <ul class="testimonials-line">
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Li Europan lingues es membres del sam familie. Lor separat existentie
                            es un myth. Por scientie, musica, sport etc,
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/liuxiaohan.png" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                Master
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Lor separat existentie es un myth. Por scientie, musica, sport etc,
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/wangjie.png" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                Product Owner
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Li Europan lingues es membres del sam familie. Lor separat existentie
                            es un myth. Por scientie, musica, sport etc,
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/xuyuhang.JPG" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                Page Designer
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Li Europan lingues es membres del sam familie. Lor separat existentie
                            es un myth.
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/yuanjunxiang.jpg" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                His title
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Li Europan lingues es membres del sam familie. Lor separat existentie
                            es un myth.
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/duanqin.png" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                His title
                            </span>
                        </span>
                    </div>
                </li>
                <li class="customer">
                    <div class="testimonial-bubble">
                        <p>
                            Li Europan lingues es membres del sam familie. Lor separat existentie
                            es un myth.
                        </p>
                    </div>
                    <div class="cus-profile">
                        <span class="cus-image">
                            <img src="~/Images/Portrait/xiangyifan.jpg" />
                        </span>
                        <span class="cus-name">
                            Customer
                            <span class="cus-title">
                                His title
                            </span>
                        </span>
                    </div>
                </li>
                <span id="prev"> </span>
                <span id="next"></span>
            </ul>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('#testimonials').alpha();
    });
</script>