@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/indexStyle.css" rel="stylesheet" />
<script src="~/Scripts/indexjs.js"></script>

<div id="outBox" class="container">
    <div id="screen">
        <div id="command">
            <h1>正在热映</h1>
            <div id="bar"></div>
        </div>

        <div id="urlInfo"></div>

    </div>
</div>

<script type="text/javascript">
    $.ajax({
        type: "GET",
        url: "https://api.douban.com/v2/movie/in_theaters",
        dataType: 'JSONP',
        xhrFields: { withCredentials: true },
        success: function (data) {
            var url = [];
            for (var i = 0; i < data.subjects.length; i++) {
                url.push({ src: data.subjects[i].images.small });
            }
            setTimeout(function () {

                m3D.init(url);

            },
                500);
        },
        error: function (jqXHR) {
        }
    });
</script>


