
@{
    ViewBag.Title = "UserManage";
}
<link href="~/Content/htmleaf-demo.css" rel="stylesheet" />
<link href="~/Content/normalize.css" rel="stylesheet" />
<script src="~/Scripts/validator.min.js"></script>
<link href="~/Content/tabStyle.css" rel="stylesheet" />
<div class="container" ng-app="BinGoApp" ng-controller="ManageCtrl" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-12 mt30">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">用户管理</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">电影管理</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab">评论管理</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Section1">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="input-group input-group-sm col-xs-4">
                                <span class="input-group-addon">搜索</span>
                                <input type="text" class="form-control" ng-model="usearchText" placeholder="请输入关键字">
                            </div>
                        </div>
                        <div class="container">
                            <table class="table table-bordered  table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>
                                        <td class="col-md-1">序号</td>
                                        <td class="col-md-3">用户名</td>
                                        <td class="col-md-3">邮箱</td>
                                        <td class="col-md-3">手机号</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in users | filter:usearchText">
                                        <td>{{$index + 1}}</td>
                                        <td>{{x.username}}</td>
                                        <td>{{x.email}}</td>
                                        <td>{{x.phone}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" ng-click="UDetail(x.id)">详情</button>
                                            <button class="btn btn-warning btn-sm" ng-click="UUpdate(x.id)">修改</button>
                                            <button class="btn btn-danger btn-sm" ng-click="UDelete(x.id,x.username)">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination pull-right">
                                    <li>
                                        <a ng-click="UPrevious()">
                                            <span>上一页</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="UNext()">
                                            <span>下一页</span>
                                        </a>
                                    </li>
                                </ul>
                                <div style="text-align: center">第<input type="number" min="1" max="{{UTotal}}" ng-model=UPage ng-change="Reload(UPage,'User')" />页{{' 共'+UTotal+'页'}}</div>
                            </nav>
                            <!-- 详细信息-->
                            <div class="modal" id="uinfo">

                                <div class="modal-dialog">

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <h3 class="modal-title">详细信息</h3>
                                        </div>

                                        <div class="modal-body">
                                            <form data-toggle="validator" role="form">
                                                <div class="form-group">
                                                    <label class="control-label">用户名</label>
                                                    <input type="text" class="form-control" ng-model="cur.username" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">邮箱</label>
                                                    <input type="email" class="form-control" ng-model="cur.email" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">手机号</label>
                                                    <input type="text" class="form-control" ng-model="cur.phone" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">验证问题</label>
                                                    <input type="text" class="form-control" ng-model="cur.question" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">问题答案</label>
                                                    <input type="text" class="form-control" ng-model="cur.answer" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-inline row">
                                                        <label class="control-label col-md-6">性别</label>
                                                        <label class="control-label col-md-6">年龄</label>
                                                    </div>
                                                    <div class="form-inline row">
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" ng-model="gender" readonly />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" ng-model="cur.age" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-success" data-dismiss="modal">关闭</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- 修改信息 -->
                            <div class="modal" id="umodify">

                                <div class="modal-dialog">

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <h3 class="modal-title">修改信息</h3>
                                        </div>

                                        <div class="modal-body">
                                            <form data-toggle="validator" role="form">
                                                <div class="form-group">
                                                    <label class="control-label">用户名</label>
                                                    <input type="text" class="form-control" ng-model="cur.username" placeholder="用户名" data-error="请输入您的用户名" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">邮箱</label>
                                                    <input type="email" class="form-control" ng-model="cur.email" placeholder="邮箱" data-error="您输入的邮箱格式不正确" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">手机号</label>
                                                    <input type="text" class="form-control" ng-model="cur.phone" placeholder="手机号" data-error="请输入您的手机号" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">验证问题</label>
                                                    <input type="text" class="form-control" ng-model="cur.question" placeholder="验证问题" data-error="请输入您的验证问题" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">问题答案</label>
                                                    <input type="text" class="form-control" ng-model="cur.answer" placeholder="问题答案" data-error="请输入验证问题的答案" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-inline row">
                                                        <label class="control-label col-md-6">性别</label>
                                                        <label class="control-label col-md-6">年龄</label>
                                                    </div>
                                                    <div class="form-inline row">
                                                        <div class="form-group col-md-6">
                                                            <select ng-model="gender" ng-options="x for x in genderOptions" class="form-control" data-error="请选择您的性别！" required></select>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <select ng-model="cur.age" ng-options="x for x in ageOptions" class="form-control" data-error="请选择您的年龄！" required></select>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-success" ng-click="UUpdateCommit()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- 信息删除 -->
                            <div class="modal fade" id="udelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">删除警告</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger center">您确认要删除用户：“{{uname}}”吗？</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" ng-click="UDeleteCommit()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Section2">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="input-group input-group-sm col-xs-4">
                                <span class="input-group-addon">搜索</span>
                                <input type="text" class="form-control" ng-model="msearchText" placeholder="请输入关键字">
                            </div>
                            <div class="pull-right" style="margin-right: 3%;">
                                <button class="btn btn-primary btn-sm" ng-click="MAdd()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button>
                            </div>
                        </div>
                        <div class="container">
                            <table class="table table-bordered  table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>
                                        <td class="col-md-1">序号</td>
                                        <td class="col-md-3">片名</td>
                                        <td class="col-md-3">导演</td>
                                        <td class="col-md-3">演员</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in movies | filter:msearchText">
                                        <td>{{$index + 1}}</td>
                                        <td>{{x.movie_name}}</td>
                                        <td>{{x.movie_director}}</td>
                                        <td>{{x.movie_actor}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" ng-click="MDetail(x.movie_id)">详情</button>
                                            <button class="btn btn-warning btn-sm" ng-click="MUpdate(x.movie_id)">修改</button>
                                            <button class="btn btn-danger btn-sm" ng-click="MDelete(x.movie_id,x.movie_name)">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination pull-right">
                                    <li>
                                        <a ng-click="MPrevious()">
                                            <span>上一页</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="MNext()">
                                            <span>下一页</span>
                                        </a>
                                    </li>
                                </ul>
                                <div style="text-align: center">第<input type="number" min="1" max="{{MTotal}}" ng-model=MPage ng-change="Reload(MPage,'Movie')" />页{{' 共'+MTotal+'页'}}</div>
                            </nav>
                            <!-- 添加信息 -->
                            <div class="modal" id="madd">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <h3 class="modal-title">添加信息</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form data-toggle="validator" role="form">
                                                <div class="form-group">
                                                    <label class="control-label">片名</label>
                                                    <input type="text" class="form-control" ng-model="moviename" placeholder="片名" data-error="请输入电影名称" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">导演</label>
                                                    <input type="text" class="form-control" ng-model="moviedirector" placeholder="导演" data-error="请输入导演名" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">演员</label>
                                                    <input type="text" class="form-control" ng-model="movieactor" placeholder="演员" data-error="请输入演员名" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">语言</label>
                                                    <input type="text" class="form-control" ng-model="movielanguage" placeholder="语言" data-error="请输入电影语言" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">地区</label>
                                                    <input type="text" class="form-control" ng-model="moviedistrict" placeholder="地区" data-error="请输入电影发行地区" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">海报</label>
                                                    <input type="text" class="form-control" ng-model="moviepicture" placeholder="海报" data-error="请输入电影海报url" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">主题</label>
                                                    <input type="text" class="form-control" ng-model="moviekeyword" placeholder="主题" data-error="请输入电影主题" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">其他</label>
                                                    <input type="text" class="form-control" ng-model="movieimdbid" placeholder="其他" data-error="请输入其他信息" />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-inline row">
                                                        <label class="control-label col-md-6">上映时间</label>
                                                        <label class="control-label col-md-6">时长(分钟)</label>
                                                    </div>
                                                    <div class="form-inline row">
                                                        <div class="form-group col-md-6">
                                                            <input type="number" class="form-control" ng-model="moviedate" max="2018" min="1990" placeholder="上映时间" data-error="请输入电影发行时间" required />
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="number" ng-model="movietime" class="form-control" placeholder="电影时长" data-error="请输入电影时长" required />
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-success" ng-click="MUpload()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- 详细信息-->
                            <div class="modal" id="minfo">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <h3 class="modal-title">详细信息</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form data-toggle="validator" role="form">
                                                <div class="form-group">
                                                    <label class="control-label">片号</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_id" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">片名</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_name" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">导演</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_director" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">演员</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_actor" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">语言</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_language" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">地区</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_district" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">时间</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_date" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">海报</label>
                                                    <input type="text" class="form-control" ng-model="movie.pic_url" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">主题</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_keyword" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">其他</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_imdbid" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-inline row">
                                                        <label class="control-label col-md-6">上映时间</label>
                                                        <label class="control-label col-md-6">时长(分钟)</label>
                                                    </div>
                                                    <div class="form-inline row">
                                                        <div class="form-group col-md-6">
                                                            <input ng-model="movie.movie_date" class="form-control" readonly />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input ng-model="movie.movie_time" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- 修改信息 -->
                            <div class="modal" id="mmodify">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <h3 class="modal-title">修改信息</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form data-toggle="validator" role="form">
                                                <div class="form-group">
                                                    <label class="control-label">片号</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_id" placeholder="电影号" data-error="请输入电影号" readonly />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">片名</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_name" placeholder="片名" data-error="请输入电影名称" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">导演</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_director" placeholder="导演" data-error="请输入导演名" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">演员</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_actor" placeholder="演员" data-error="请输入演员名" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">语言</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_language" placeholder="语言" data-error="请输入电影语言" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">地区</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_district" placeholder="上映地区" data-error="请输入电影发行地区" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">海报</label>
                                                    <input type="text" class="form-control" ng-model="movie.pic_url" placeholder="电影海报" data-error="请输入电影海报url" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">主题</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_keyword" placeholder="电影主题" data-error="请输入电影主题" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">其他</label>
                                                    <input type="text" class="form-control" ng-model="movie.movie_imdbid" placeholder="其他" data-error="请输入其他信息" />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-inline row">
                                                        <label class="control-label col-md-6">上映时间</label>
                                                        <label class="control-label col-md-6">时长(时间)</label>
                                                    </div>
                                                    <div class="form-inline row">
                                                        <div class="form-group col-md-6">
                                                            <input type="number" class="form-control" ng-model="movie.movie_date" max="2018" min="1990" placeholder="上映时间" data-error="请输入电影发行时间" required />
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="number" ng-model="movie.movie_time" class="form-control" placeholder="电影时长" data-error="请输入电影时长" required />
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-success" ng-click="MUpdateCommit()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 信息删除 -->
                            <div class="modal fade" id="mdelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">删除警告</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger center">您确认要删除电影：“{{mname}}” 吗？</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" ng-click="MDeleteCommit()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Section3">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="input-group input-group-sm col-xs-4">
                                <span class="input-group-addon">搜索</span>
                                <input type="text" class="form-control" ng-model="csearchText" placeholder="请输入关键字">
                            </div>
                        </div>
                        <div class="container">
                            <table class="table table-bordered  table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>
                                        <td class="col-md-1">序号</td>
                                        <td class="col-md-3">片名</td>
                                        <td class="col-md-2">用户名</td>
                                        <td class="col-md-3">评价</td>
                                        <td class="col-md-2">评分</td>
                                        <td class="col-md-1">操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in comments | filter:csearchText">
                                        <td>{{$index + 1}}</td>
                                        <td>{{x.movie_name}}</td>
                                        <td>{{x.username}}</td>
                                        <td>{{x.comment}}</td>
                                        <td>{{x.rating}}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" ng-click="CDelete(x.rating_id)">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination pull-right">
                                    <li>
                                        <a ng-click="CPrevious()">
                                            <span>上一页</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="CNext()">
                                            <span>下一页</span>
                                        </a>
                                    </li>
                                </ul>
                                <div style="text-align: center">第<input type="number" min="1" max="{{CTotal}}" ng-model=CPage ng-change="Reload(CPage,'Comment')" />页{{' 共'+CTotal+'页'}}</div>
                            </nav>
                            <!-- 评论删除 -->
                            <div class="modal fade" id="cdelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">删除警告</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger center">您确认要删除这条评价吗？</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" ng-click="CDeleteCommit()">确定</button>
                                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
