@{
    ViewBag.Title = "Movie";
}
<link href="~/Content/movieStyle.css" rel="stylesheet" />
<div class="container" ng-app="BinGoApp" ng-controller="MovieCtrl">
    <h2>分类电影</h2>
    <div style="width: 100%">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="nav-tabs">
            <li role="presentation" class="active"><a href="#Action" aria-controls="home" role="tab" data-toggle="tab">动作</a></li>
            <li role="presentation"><a href="#War" aria-controls="profile" role="tab" data-toggle="tab">战争</a></li>
            <li role="presentation"><a href="#History" aria-controls="messages" role="tab" data-toggle="tab">历史</a></li>
            <li role="presentation"><a href="#Comedy" aria-controls="settings" role="tab" data-toggle="tab">喜剧</a></li>
            <li role="presentation"><a href="#Mystery" aria-controls="messages" role="tab" data-toggle="tab">悬疑</a></li>
            <li role="presentation"><a href="#Musical" aria-controls="settings" role="tab" data-toggle="tab">音乐</a></li>
            <li role="presentation"><a href="#Romance" aria-controls="messages" role="tab" data-toggle="tab">爱情</a></li>
            <li role="presentation"><a href="#Sci-Fi" aria-controls="settings" role="tab" data-toggle="tab">科幻</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane container active" id="Action">
                <div class="box">
                    <div class="movie" ng-repeat="mov in ActionList" onFinishRenderFilters>
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="War">
                <div class="box">
                    <div class="movie" ng-repeat="mov in WarList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="History">
                <div class="box">
                    <div class="movie" ng-repeat="mov in HistoryList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Comedy">
                <div class="box">
                    <div class="movie" ng-repeat="mov in ComedyList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Mystery">
                <div class="box">
                    <div class="movie" ng-repeat="mov in MysteryList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Musical">
                <div class="box">
                    <div class="movie" ng-repeat="mov in MusicalList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Romance">
                <div class="box">
                    <div class="movie" ng-repeat="mov in RomanceList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Sci-Fi">
                <div class="box">
                    <div class="movie" ng-repeat="mov in SciFiList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-func.js"></script>

