@{
    ViewBag.Title = "Movie";
}
<link href="~/Content/movieStyle.css" rel="stylesheet" />

<h2>分类电影</h2>
<div style="width: 100%" ng-app="BinGoApp" ng-controller="MovieCtrl">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="nav-tabs">
        <li role="presentation" class="active"><a href="#hot" aria-controls="home" role="tab" data-toggle="tab">热门</a></li>
        <li role="presentation"><a href="#latest" aria-controls="profile" role="tab" data-toggle="tab">最新</a></li>
        <li role="presentation"><a href="#classic" aria-controls="messages" role="tab" data-toggle="tab">经典</a></li>
        <li role="presentation"><a href="#chinese" aria-controls="settings" role="tab" data-toggle="tab">华语</a></li>
        <li role="presentation"><a href="#EA" aria-controls="messages" role="tab" data-toggle="tab">欧美</a></li>
        <li role="presentation"><a href="#JK" aria-controls="settings" role="tab" data-toggle="tab">日韩</a></li>
        <li role="presentation"><a href="#HT" aria-controls="messages" role="tab" data-toggle="tab">港台</a></li>
        <li role="presentation"><a href="#others" aria-controls="settings" role="tab" data-toggle="tab">更多</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane container active" id="hot">
            <div class="box">
                <div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div><div class="movie">
                    <ul class="list-unstyled">
                        <li>
                            <div class="movie-image">
                                <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                            </div>
                        </li>
                        <li class="text-center">
                            <span>X-MAN</span>
                            <div class="subject-rate">
                                <span class="star a"></span>
                                <span>2.5</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="chinese">

        </div>
        <div role="tabpanel" class="tab-pane" id="EA">

        </div>
        <div role="tabpanel" class="tab-pane" id="JK">

        </div>
        <div role="tabpanel" class="tab-pane" id="HT">

        </div>
        <div role="tabpanel" class="tab-pane" id="others">

        </div>
    </div>
</div>


<script src="~/Scripts/jquery-func.js"></script>
<script>
    $('.a').raty({ readOnly: true, score: 2.5 });
</script>
