
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/movieStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-func.js"></script>
<div ng-app="BinGoApp" ng-controller="SearchCtrl">
    <div class="row">
        <div class="col-md-3"><h2>搜索电影</h2></div>
        <div class="pull-right">
            <form class="navbar-form pull-right" style="margin-top: 25px;">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="关键字" />
                </div>
                <button type="submit" class="btn btn-primary" ng-click="Search()" ng-keydown="$event.keyCode === 13 && Search()">搜索</button>
            </form>
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="box">
            <div class="movie" ng-repeat="mov in movieList">
                <ul class="list-unstyled">
                    <li>
                        <div class="movie-image">
                            <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt="movie" /></a>
                        </div>
                    </li>
                    <li class="text-center">
                        <span class="name">{{mov.movie_name}}</span>
                        <div class="subject-rate">
                            <span class="star" data-score={{mov.movie_star}}></span>
                            <span>{{mov.movie_rating}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $('.star').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
