@{
    ViewBag.Title = "Contact";
}
<style>
    img {
        max-height: 378px;
    }
    .poster {
        margin: 5% 5% 5% 3%;
    }
    .stitle {
    }
    .srating {
        display: inline-block;
        vertical-align: top;
        letter-spacing: normal;
        word-spacing: normal;
        height: 19px;
        margin-left: 30%;
        margin-bottom: 5px;
    }
    .star {
        margin: 3px 3px 0 0;
        width: 55px;
    }
    .subject-rate {
        display: inline-block;
        vertical-align: top;
        letter-spacing: normal;
        word-spacing: normal;
        float: right;
        color: #e09015;
    }
</style>
<div class="jumbotron row">
    <div class="col-xs-4">
        <img class="img-circle" src="~/Images/Portrait/portrait1.jpg" width="80%" />
    </div>
    <div class="col-xs-8">
        <h3>广寒仙子</h3>
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-unstyled">
                    <li><span>姓名：</span><span>林超贤</span><br/></li>
                    <li><span>年龄：</span><span>90后</span><br/></li>
                    <li><span>邮箱：</span><span>chaoxian@gmail.com</span><br/></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-unstyled">
                    <li><span>性别：</span><span>公主</span><br/></li>
                    <li><span>手机：</span><span>13776050176</span><br/></li>
                </ul>
            </div>
        </div>
        <p><a class="btn btn-primary btn-sm" href="#" role="button">修改信息</a></p>
    </div>
</div>
<div class="history">
    <h4>浏览记录</h4>
    <div>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/西游记女儿国.png" />
            </li>
            <li class="stitle text-center">
                <h4>西游记女儿国</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="a1"></span>
                    <span class="subject-rate">2.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/熊出没.png" />
            </li>
            <li class="stitle text-center">
                <h4>熊出没</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="b1"></span>
                    <span class="subject-rate">3.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/捉妖记.png" />
            </li>
            <li class="stitle text-center">
                <h4>捉妖记</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="c1"></span>
                    <span class="subject-rate">2.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/祖宗十九代.png" />
            </li>
            <li class="stitle text-center">
                <h4>祖宗十九代</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="d1"></span>
                    <span class="subject-rate">2.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/芳华.png" />
            </li>
            <li class="stitle text-center">
                <h4>芳华</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="e1"></span>
                    <span class="subject-rate">4.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/红海行动.png" />
            </li>
            <li class="stitle text-center">
                <h4>红海行动</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="f1"></span>
                    <span class="subject-rate">5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/唐人街探案.png" />
            </li>
            <li class="stitle text-center">
                <h4>唐人街探案</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="g1"></span>
                    <span class="subject-rate">3.5</span>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
            <li class="poster">
                <img src="~/Images/Poster/无问西东.png" />
            </li>
            <li class="stitle text-center">
                <h4>无问西东</h4>
            </li>
            <li class="srating">
                <div class="text-center">
                    <span class="star" id="h1"></span>
                    <span class="subject-rate">2.5</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    $('#a1').raty({ readOnly: true, score: 2.5 });
    $('#b1').raty({ readOnly: true, score: 3.5 });
    $('#c1').raty({ readOnly: true, score: 2.5 });
    $('#d1').raty({ readOnly: true, score: 2.5 });
    $('#e1').raty({ readOnly: true, score: 4.5 });
    $('#f1').raty({ readOnly: true, score: 5.0 });
    $('#g1').raty({ readOnly: true, score: 3.5 });
    $('#h1').raty({ readOnly: true, score: 2.5 });
</script>