
@{
    ViewBag.Title = "MovieManage";
}

<div ng-app="myapp" ng-controller="myCtrl">
    <h2>电影管理</h2><hr/>
    <div class="row" style="margin-bottom: 20px">
        <div class="input-group input-group-sm col-xs-4">
            <span class="input-group-addon" id="sizing-addon1">搜索</span>
            <input type="text" class="form-control" ng-model="test" placeholder="请输入关键字">
        </div>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" ng-click="add()">添加</button>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered  table-striped table-hover" style="text-align: center">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>片名</td>
                    <td>日期</td>
                    <td>导演</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in texts | filter:test">
                    <td>{{$index + 1}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.director}}</td>
                    <td>
                        <button class="btn btn-info btn-sm" ng-click="detail($index)">详情</button>
                        <button class="btn btn-warning btn-sm" ng-click="update($index)">修改</button>
                        <button class="btn btn-danger btn-sm" ng-click="del($index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- 添加信息 -->
        <div class="modal" id="add">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <h3 class="modal-title">添加信息</h3>
                    </div>

                    <div class="modal-body">
                        <div class="input-group">
                            <label class="input-group-addon">片名</label>
                            <input type="text" class="form-control" ng-model="newName" placeholder="请输入影片名"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">时间</label>
                            <input type="text" class="form-control" ng-model="newDate" placeholder="请输入上映时间"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">导演</label>
                            <input type="text" class="form-control" ng-model="newDirector" placeholder="请输入导演"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>

                </div>

            </div>

        </div>
        <!-- 详细信息-->
        <div class="modal" id="info">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <h3 class="modal-title">详细信息</h3>
                    </div>

                    <div class="modal-body">
                        <div class="input-group">
                            <label class="input-group-addon">片名</label>
                            <input type="text" class="form-control" ng-model="prod.name" value="{{prod.name}}" readonly/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">时间</label>
                            <input type="text" class="form-control" ng-model="prod.date" value="{{prod.date}}" readonly/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">导演</label>
                            <input type="text" class="form-control" ng-model="prod.director" value="{{prod.director}}" readonly/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success" ng-click="ensure()">确定</button>
                    </div>

                </div>

            </div>

        </div>
        <!-- 修改信息 -->
        <div class="modal" id="modify">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <h3 class="modal-title">修改信息</h3>
                    </div>

                    <div class="modal-body">
                        <div class="input-group">
                            <label class="input-group-addon">片名</label>
                            <input type="text" class="form-control" ng-model="prod.name" value="{{prod.name}}"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">时间</label>
                            <input type="text" class="form-control" ng-model="prod.date" value="{{prod.date}}"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <label class="input-group-addon">导演</label>
                            <input type="text" class="form-control" ng-model="prod.director" value="{{prod.director}}"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success" ng-click="ensure()">确定</button>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    var app = angular.module('myapp',[]);
    app.controller('myCtrl',function($scope){
        //定义表格内容
        $scope.texts = [
            { name: "红海行动", date: "2018/1/20", director: "林超贤" },
            { name: "熊出没", date: "2018/1/19", director: "袁俊翔" },
            { name: "唐人街探案2", date: "2018/1/16", director: "王宝强" },
            { name: "芳华", date: "2017/12/20", director: "冯小刚" },
            { name: "无问西东", date: "2017/1/10", director: "王刚" },
            { name: "西游记女儿国", date: "2018/1/20", director: "赵丽颖" },
            { name: "至暗时刻", date: "2018/1/23", director: "斯皮尔伯格" },
        ];
        //定义一个空对象，用于保存和修改数据时临时存储
        $scope.prod = {};
        //定义一个单击删除按钮时触发的事件，用于删除选中行
        $scope.del = function ($index) {
            if($index>=0){
                if(confirm("是否删除"+$scope.texts[$index].name) ){
                    $scope.texts.splice($index,1);
                }
            }
        };
    
        //定义一个全局变量idx,用于存储选中行的索引，方便执行保存操作。idx取值为0、1、、、、都有用，所以暂取值为-1;
        var idx = -1;
        //定义一个点击添加按钮时触发的事件，用于新增数据
        $scope.add = function(){
            //显示bootstrap中的模块窗口
            $('#add').modal('show');
        };
        //定义一个点击保存按钮时触发的事件
        $scope.save = function(){
            //将添加的值赋给数组
            $scope.texts.name = $scope.newName;
            $scope.texts.date = $scope.newDate;
            $scope.texts.director = $scope.newDirector;
            $scope.texts.push({name:$scope.newName,date:$scope.newDate,director:$scope.newDirector});
            //关闭模块窗口
            $('#add').modal('hide');
        };
        //定义一个点击修改按钮时出发的事件，用于显示详细信息
        $scope.detail = function($index) {
            $('#info').modal('show');
            $scope.prod.name = $scope.texts[$index].name;
            $scope.prod.date = $scope.texts[$index].date;
            $scope.prod.director = $scope.texts[$index].director;
        }
        //定义一个点击修改按钮时出发的事件，用于修改数据
        $scope.update = function($index){
            //显示bootstrap中的模块窗口
            $('#modify').modal('show');
 
            //将选中行的数据绑定到临时对象prod中，在下面的模态窗口中展示出来
            $scope.prod.name = $scope.texts[$index].name;
            $scope.prod.date = $scope.texts[$index].date;
            $scope.prod.director = $scope.texts[$index].director;
            //选中行的索引赋值给全局变量idx
            idx = $index;
        };
 
        //定义一个点击确定按钮时触发的事件,
        $scope.ensure = function () {
            //将修改后的值赋给数组
            $scope.texts[idx].name = $scope.prod.name;
            $scope.texts[idx].date = $scope.prod.date;
            $scope.texts[idx].director = $scope.prod.director;
            //关闭模块窗口
            $('#modify').modal('hide');
        };
    
    });
</script>