
@{
    ViewBag.Title = "MovieInfo";
}
<link href="~/Content/movieStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-func.js"></script>
<div id="wrapper" ng-app="BinGoApp" ng-controller="MovieInfoCtrl" ng-init="movieId=@ViewData["id"]">
    <div id="content">
        <h1>
            <span>&nbsp;&nbsp;{{movie.movie_name}}</span>
        </h1>
        <div class="container">
            <div class="subject row" style="display: flex">
                <div class="poster col-xs-3">
                    <img src="~/Images/Poster/红海行动.png" />
                </div>
                <div class="info col-xs-3">
                    <ul class="list-unstyled">
                        <li><span>导演：</span><span>{{movie.movie_director}}</span><br /></li>
                        <li><span>主演：</span><span>{{movie.movie_actor}}</span><br /></li>
                        <li><span>类型：</span><span>{{movie.type_id}}</span><br /></li>
                        <li><span>地区：</span><span>{{movie.movie_district}}</span><br /></li>
                        <li><span>时间：</span><span>{{movie.movie_date}}</span><br /></li>
                        <li><span>时长：</span><span>{{movie.movie_time}}</span><br /></li>
                        <li><span>关键词：</span><span>{{movie.movie_keyword}}</span><br /></li>
                    </ul>
                </div>
                <div>
                    <img src="~/Images/Other/part-line.png" height="100%" />
                </div>
                <div class="remark col-xs-4">
                    <h2 style="text-align: center">评分</h2>
                    <span>{{mov.movie_name}}</span>
                    <div class="subject-rate">
                        <span class="star" data-score={{mov.movie_rating}}></span>
                        <span>{{mov.movie_rating}}</span>
                    </div>
                </div>
            </div>

            <h3>类似电影</h3><hr />
            <div class="container">
                <div class="box">
                    <div class="movie" ng-repeat="mov in movieList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src="~/Images/Movie/movie1.jpg" alt="movie" /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span>{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <span class="star" data-score={{mov.movie_rating}}></span>
                                    <span>{{mov.movie_rating}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.raty.js"></script>
<script>
    $('.star').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>