
@{
    ViewBag.Title = "MovieInfo";
}
<link href="~/Content/movieStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-func.js"></script>
<div id="wrapper" ng-app="BinGoApp" ng-controller="MovieInfoCtrl" ng-init="movieId=@ViewData["id"]">
    <div id="content">
        <h1>
            <span>&nbsp;&nbsp;{{movie.movie_name}}</span>
        </h1>
        <div class="container">
            <div class="row" style="display: flex">
                <div class="col-xs-3">
                    <img src={{movie.pic_url}} alt={{movie.movie_name}} height="360px" width="260px"/>
                </div>
                <div class="info col-xs-4">
                    <ul class="list-unstyled" style="font-size: 16px; font-weight: bold">
                        <li class="row"><span class="col-xs-3">◎导演：</span><span class="col-xs-8">{{movie.movie_director}}</span></li>
                        <li class="row"><span class="col-xs-3">◎主演：</span><span class="col-xs-8">{{movie.movie_actor}}</span></li>
                        <li class="row"><span class="col-xs-3">◎类型：</span><span class="col-xs-8">{{movie.type_id}}</span></li>
                        <li class="row"><span class="col-xs-3">◎地区：</span><span class="col-xs-8">{{movie.movie_district}}</span></li>
                        <li class="row"><span class="col-xs-3">◎时间：</span><span class="col-xs-8">{{movie.movie_date+"年"}}</span></li>
                        <li class="row"><span class="col-xs-3">◎时长：</span><span class="col-xs-8">{{movie.movie_time+"分钟"}}</span></li>
                        <li class="row"><span class="col-xs-3">◎主题：</span><span class="col-xs-7">{{movie.movie_keyword}}</span></li>
                    </ul>
                </div>
                <div>
                    <img src="~/Images/Other/part-line.png" height="100%" />
                </div>
                <div id="remark" class="col-xs-4">
                    <h2 style="text-align: center">总体评分</h2>
                    <div style="text-align: center">
                        <jk-rating-stars max-rating="10" rating="movie.movie_rating" ng-model="movie.movie_rating" read-only="readOnly"></jk-rating-stars>
                        <span style="font-size: 20px; color: darkorange;">{{movie.movie_rating+'分'}}</span>
                    </div>
                    <h2 style="text-align: center">我的评分</h2>
                    <div style="text-align: center">
                        <jk-rating-stars max-rating="10" rating="rate"></jk-rating-stars>
                        <span style="font-size: 20px; color: darkorange;">{{rate+'分'}}</span>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="comment" placeholder="请简短评论……"></textarea>
                            </div>
                        </form>
                        <button class="btn btn-success" ng-click="Comment()" ng-keydown="$event.keyCode === 13 && Comment()">畅言一下</button>
                    </div>
                </div>
            </div>

            <h3>类似电影</h3><hr />
            <div class="container">
                <div class="box">
                    <div class="movie" ng-repeat="mov in movieList">
                        <ul class="list-unstyled">
                            <li>
                                <div class="movie-image">
                                    <a href="/Movie/MovieInfo/{{mov.movie_id}}"><span class="play"><span class="name">{{mov.movie_name}}</span></span><img src={{mov.pic_url}} alt={{mov.movie_name}} /></a>
                                </div>
                            </li>
                            <li class="text-center">
                                <span class="name">{{mov.movie_name}}</span>
                                <div class="subject-rate">
                                    <jk-rating-stars max-rating="5" rating="mov.movie_rating/2" ng-model="mov.movie_rating" read-only="readOnly"></jk-rating-stars>
                                    <span>{{mov.movie_rating+'分'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h3>用户评论</h3><hr />
            <div class="container">
                <div ng-repeat="x in comments" style="margin: 10px 0 10px 0;">
                    <div class="container row">
                        <div class="col-xs-2">
                            <img src="~/Images/Portrait/liuxiaohan.png" class="img-circle"width="80px" height="80px"/>
                        </div>
                        <div class="col-xs-10">
                            <p><strong>{{x.username}}</strong></p>
                            <p>{{x.comment}}</p>
                            <span class="pull-left">评分：{{x.rating}}</span><span class="pull-right">时间：{{x.creating_time|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </div>
                    </div>
                    <hr/>
                </div>
                @*<table class="table table-bordered  table-striped table-hover" style="text-align: center">
                    <thead>
                    <tr>
                        <td class="col-md-1">序号</td>
                        <td class="col-md-2">用户名</td>
                        <td class="col-md-2">时间</td>
                        <td class="col-md-5">评论</td>
                        <td class="col-md-2">评分</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in comments">
                        <td>{{$index + 1}}</td>
                        <td>{{x.username}}</td>
                        <td>{{x.creating_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.comment}}</td>
                        <td>{{x.rating}}</td>
                    </tr>
                    </tbody>
                </table>*@
                <div class="text-center">
                    <label class="glyphicon glyphicon-chevron-down text-center" ng-click="ShowMore()"></label>
                </div>
            </div>
        </div>
    </div>
</div>


