
/*--- end reset code ---*/
body {
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	font-family: 'Muli', sans-serif;
}

label.control-label {
	color: #fff;
	padding-bottom: 10px;
}
.reg-content-agileits {
	width: 50%;
	margin: 8% auto 8% auto;
	background: rgba(0,0,0,0.5);
	padding: 30px 40px;
	border: 5px solid rgba(95, 78, 78, 0.3);
}
.lg-content-agileits {
    width: 50%;
    margin: 25% auto 20% auto;
    background: rgba(0,0,0,0.5);
    padding: 30px 40px;
    border: 5px solid rgba(95, 78, 78, 0.3);
}
input#firstname,input#lastname,input#inputEmail,input#Phone,input#inputPassword,input#inputPasswordConfirm {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}
input#firstname,input#lastname,input#inputEmail,input#Phone {
	width:100%;
	height: 45px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background-color: rgba(53, 33, 32, 0.42);
	border: 1px solid rgb(177, 177, 177);
}
input#inputPassword,input#inputPasswordConfirm {
	width: 100%;
	height: 45px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background-color: rgba(53, 33, 32, 0.42);
	border: 1px solid rgb(177, 177, 177);
}
.help-block.with-errors {
	color: #dc423f;
}
.reg-content-agileits button.btn.btn-lg {
	width: 100%;
	height: 45px;
	margin: 0 auto;
	text-align: center;
	float: none;
	color:#fff;
	font-size:17px;
	font-weight:normal;
	display: block;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.lg-content-agileits button.btn.btn-lg {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    float: none;
    color:#fff;
    font-size:17px;
    font-weight:normal;
    display: block;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}
