
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/app.js"></script>
<style>
    #divMain {
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
    }

    nav {
        position: relative;
        width: 100%;
        height: 50px;
    }

    .pagination {
        right: 0px;
        position: absolute;
        top: -30px;
    }

    nav li {
        cursor: pointer;
    }
</style>
<h2>Test</h2>
<div ng-app="BinGoApp" ng-controller="myCtrl">
    <table class="table table-bordered">
        <tr>
            <th>序号</th>
            <th>片名</th>
            <th>导演</th>
        </tr>
        <tr ng-repeat="mov in items">
            <td>{{$index+1}}</td>
            <td>{{mov.movie_name}}</td>
            <td>{{mov.movie_director}}</td>
        </tr>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" >{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
