
@{
    ViewBag.Title = "Questionnaire";
}
<link href="~/Content/Questionnaire/styles.css" rel="stylesheet" />
<script src="~/Scripts/Questionnaire/modernizr.js"></script>
<style>
</style>

<div ng-app="BinGoApp" ng-controller="QuestionniareCtrl" class="wrapper active-page1">
    <div class="page page1">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/红海行动.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《红海行动》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>林超贤</span></li>
                            <li>编剧：<span>冯骥、陈珠珠、林明杰</span></li>
                            <li>主演：<span>张译、海清、杜江</span></li>
                            <li>类型：<span>战争</span></li>
                            <li>简介：<text>《红海行动》是由博纳影业集团股份有限公司、中国人民解放军海政电视艺术中心等出品，林超贤执导，冯骥、陈珠珠、林明杰编剧，张译、黄景瑜、海清、杜江、蒋璐霞等主演的动作片。该片讲述了中国海军“蛟龙突击队”8人小组奉命执行撤侨任务，突击队兵分两路进行救援，但不幸遭到伏击，人员伤亡；同时在粉碎叛军武装首领的惊天阴谋中惨胜的故事。该片于2018年2月16日在中国内地上映；3月1日在中国香港上映。</text></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page2">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/芳华.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《芳华》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>冯小刚</span></li>
                            <li>编剧：<span>严歌苓</span></li>
                            <li>主演：<span> 黄轩 / 苗苗 / 钟楚曦 / 杨采钰 / 李晓峰 / 王天辰 / 王可如 / 隋源 / 张仁博 / 苏岩 / 张国立 / 赵立新</span></li>
                            <li>类型：<span>剧情 / 历史 / 战争</span></li>
                            <li>
                                简介：<text>
                                    故事发生在上世纪七十年代，寄人篱下的少女何小萍（苗苗 饰）经过重重试炼终于加入了梦寐以求的文工团，哪知道这里和她曾经待过的那些地方并无不同，她依然得忍受遭人唾弃和欺侮的生活。唯一给过她温暖的，是刘峰（黄轩 饰），不仅仅是对何小萍，被称为“活雷锋”的刘峰把自己的爱情和温暖无私的奉献给每一个人。
                                    实际上，刘峰一直爱慕着美丽活泼的林丁丁（杨采钰 饰），当他选择将这份感情勇敢的表达出来时，却让自己的人生走向了完全不同的方向。战争开始了，刘峰、何小萍和萧穗子前赴后继的走上了前线，在枪弹和炮火之中，每一个人都在用生命和热血绽放着属于他们的芳华。
                                </text>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page3">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/厉害了，我的国.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《厉害了，我的国》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>卫铁</span></li>
                            <li>编剧：<span>无</span></li>
                            <li>主演：<span>无</span></li>
                            <li>类型：<span>纪录片</span></li>
                            <li>
                                简介：<text>
                                    本片以习近平新时代中国特色社会主义思想为内在逻辑，展示了在创新、协调、绿色、开放和共享的新发展理念下中国这五年的伟大成就，展现了中国人民在全面建设小康征程上的伟大奋斗，彰显了以习近平同志为核心的党中央的正确领导。凝聚起全党全国人民的磅礴力量，为实现中华民族伟大复兴的中国梦不断前进。
                                    中国共产党第十九次全国代表大会绘制了中国未来发展的宏伟蓝图，由中央电视台、中国电影股份有限公司联合出品的电影《厉害了，我的国》结合十九大精神，将祖国发展和成就以纪录片的形式第一次呈现在大银幕上，全面反映党的十八大以来中国取得了改革开放和社会主义现代化建设的历史性成就。电影《厉害了，我的国》是一部非常有新意的充满正能量的纪录电影。
                                </text>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page4">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/妈妈咪鸭.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《妈妈咪鸭》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>锐 / 克里斯托弗·詹金斯</span></li>
                            <li>编剧：<span> 丁丁 / 包欧 / 吴亦欢 / 克里斯托弗·詹金斯 / 罗布·缪尔</span></li>
                            <li>主演：<span> 赵路 / 武皓栋 / 殷筱瑜 / 金蝉妃 / 童自荣 / 吴磊 / 赵乾景 / 李传缨 / 姜玉玲 / 曹真 / 王肖兵</span></li>
                            <li>类型：<span> 喜剧 / 动画 / 家庭 / 冒险</span></li>
                            <li>
                                简介：<text>
                                    小黄鸭大电影《妈妈咪鸭》讲述了雁群往南方迁徙的途中，“最棒飞行家”大鹏桀骜不驯爱捣乱，和他的女友晶晶调情时不慎撞散了一群赶路的小鸭子。不服管教的大鹏决定单飞，不得已和两只落单的小鸭子淘淘、憇憇组成了“临时父子档”，踏上了一路乌龙的寻亲和南迁之旅。
                                    他们经历了一连串惊险、刺激又有趣的冒险。划过壮美的梯田，爬过冷峻的山脉，遇上好心收留他们的母鸡和妻管严公鸡、搭乘春运卡车的猪群、半瓶子中医技能的松鼠。路途中要时刻抵御想吃掉他们的恶猫，还险些成为“盘中烤鸭”。大鹏与淘淘姐弟两的命运紧紧关联，孤傲的大鹏也逐渐学会了责任与耐心。最后，焕然一新的大鹏得到了女友晶晶的原谅，和两只小鸭子组成了爱意满满的小家庭。
                                </text>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page5">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/唐人街探案.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《唐人街探案》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>陈思诚</span></li>
                            <li>编剧：<span>陈思诚</span></li>
                            <li>主演：<span>王宝强 / 刘昊然 / 肖央 / 刘承羽 / 尚语贤 / 王迅 / 妻夫木聪 / 迈克尔·皮特 / 白灵 / 元华 / 曾江 / 王成思 / 杨金赐 / 范湉湉 / 佟丽娅 / 陈思诚</span></li>
                            <li>类型：<span>喜剧 / 动作 / 悬疑 / 犯罪</span></li>
                            <li>简介：<text>　　唐仁（王宝强 饰）为巨额奖金欺骗秦风（刘昊然 饰）到纽约参加世界名侦探大赛，然而随着和世界各国侦探们啼笑皆非的较量，两人却发现了隐藏在这次挑战背后的更大秘密...</text></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page6">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/无问西东.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《无问西东》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>李芳芳</span></li>
                            <li>编剧：<span>李芳芳</span></li>
                            <li>主演：<span>章子怡 / 黄晓明 / 张震 / 王力宏 / 陈楚生 / 铁政 / 祖锋 / 米雪 / 王盛德 / 韩童生 / 王鑫 / 郑铮 / 章泽天 / 黄梦莹 / 林美秀 / 保罗·菲利普·克拉克 / 胡家华 / 伊娜 / 吴谨言 / 纪帅 / 王天泽 / 伍麟凯 / 都金翰</span></li>
                            <li>类型：<span>战争</span></li>
                            <li>
                                简介：<text>
                                    《无问西东》如果提前了解了你所要面对的人生，你是否还会有勇气前来？吴岭澜、沈光耀、王敏佳、陈鹏、张果果，几个年轻人满怀诸多渴望，在四个非同凡响的时空中一路前行。
                                    吴岭澜（陈楚生 饰），出发时意气风发，却很快在途中迷失了方向。沈光耀（王力宏 饰），自愿参与了最残酷的战争，他一直在努力去做那些令他害怕，但重要的事。王敏佳（章子怡 饰）最初的错误，只是为了虚荣撒了一个小谎；最初的烦恼，只是在两个优秀的男人中选择一个。但命运，却把她拖入被众人唾骂的深渊。陈鹏（黄晓明 饰）把爱情摆在了理想前面，但爱情却没有把他摆在前面。他说，“我有人要照顾”，纵然这意味着与所有人作对，意味着要和她一起被放逐千里。
                                </text>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page7">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/熊出没.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《熊出没》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>丁亮 / 林汇达</span></li>
                            <li>编剧：<span>徐芸 / 万秦 / 蒋琳</span></li>
                            <li>主演：<span>张伟 / 张秉君 / 谭笑</span></li>
                            <li>类型：<span>喜剧 / 动画 / 冒险</span></li>
                            <li>简介：<text>光头强爸爸突然到访狗熊岭，向来严厉古板的强爸却对光头强嘘寒问暖，而朝夕相处却未能缓和关系，反而导致了父子矛盾的爆发……在一次激烈的争吵中，光头强和两熊被“缩小机”意外缩小，毫不知情的强爸伤心离开，并无意间带走了“缩小机”。于是，光头强和两熊踏上了追赶强爸和机器的“微观世界”冒险之旅。与此同时，一名陌生国外女记者突然出现，并频频出没于大马哈鱼生活的河域附近，举止神秘，牵出了一系列神秘事件……</text></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page8">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/西游记女儿国.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《西游记女儿国》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>郑保瑞</span></li>
                            <li>编剧：<span>文宁</span></li>
                            <li>主演：<span>郭富城 / 冯绍峰 / 赵丽颖 / 小沈阳 / 罗仲谦 / 林志玲 / 梁咏琪 / 刘涛 / 孙伊涵 / 苑琼丹 / 潘斌龙 / 黄渤 / 陈雅丽 / 施诗</span></li>
                            <li>类型：<span>喜剧 / 爱情 / 奇幻</span></li>
                            <li>简介：<text>唐僧师徒途经忘川河，因激怒河神而误入西梁女界。闯入其中，众人才发现这个国家只有女性，并且建国以来此地就没来过男性。而且国中立有祖训，将男人视为天敌。典籍中更有预言，指明有朝一日，会有东土而来的僧人带着一只猴子、一头猪和一个小蓝人闯入其中。他们到来之日，便是女儿国走向毁灭之时。</text></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page9">
        <h2>电影爱好调查</h2>
        <div class="container">
            <div class="row" style="margin-top:20%">
                <div class="col-md-5">
                    <img src="~/Images/Poster/捉妖记.png" class="img-rounded" style="margin-bottom: 20px;" />
                    <div>
                        <button class="btn btn-lg btn-danger">好喜欢&nbsp;<span class="glyphicon glyphicon-hand-up"></span></button>
                        <button class="btn btn-lg btn-success" style="margin-left: 10%;">没兴趣&nbsp;<span class="glyphicon glyphicon-hand-down"></span></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>《捉妖记》</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>导演：<span>许诚毅</span></li>
                            <li>编剧：<span>吴炜伦 / 陈咏燊 / 苏亮</span></li>
                            <li>主演：<span>梁朝伟 / 白百何 / 井柏然 / 李宇春 / 杨祐宁 / 大鹏 / 吴君如 / 曾志伟 / 黄磊 / 柳岩 / 吴莫愁 / 伍嘉成 / 赵磊 / 谷嘉诚 / 彭楚粤 / 陈泽希 / 郭子凡 / 肖战 / 焉栩嘉 / 夏之光 / 姜超 / 娄艺潇 / 张俪</span></li>
                            <li>类型：<span>喜剧 / 奇幻</span></li>
                            <li>简介：<text>　上一集与胡巴分别后，天荫（井柏然 饰）带着小岚（白百何 饰）踏上寻父之路，在义薄云天的天师堂堂主云大哥（杨祐宁 饰）的帮助下，二人得知天荫父亲宋戴天的护妖轨迹；而重回永宁村的胡巴再度被妖王追杀，颠沛流离逃亡时结识大赌徒屠四谷（梁朝伟 饰）和一只妖怪，三人一起过着相依为命的生活，但又因屠四谷欠下的巨额赌债横生诸多波折。与此同时 ，江湖盛传小妖王胡巴的重金悬赏令，妖界大军、天师精英、绿林草莽闻风而动，多方势力为抢夺胡巴在清水镇掀起腥风血雨。千钧一发之际，念子心切的天荫和小岚通过天师堂找到胡巴并一起逃离险境。岂料，一场更大的惊天阴谋尾随而至，伺机而动……</text></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page10">
        <div class="container">
            <div class="text-center" style="margin-top: 30%">
                <h2>调查完成，请登录！</h2>
                <button class="btn btn-lg btn-success" ng-click="MoveTo()">登录</button>
            </div>
        </div>
    </div>
</div>
<div class="nav-panel">
    <div class="scroll-btn up"></div>
    <div class="scroll-btn down"></div>
    <nav>
        <ul>
            <li data-target="1" class="nav-btn nav-page1 active"></li>
            <li data-target="2" class="nav-btn nav-page2"></li>
            <li data-target="3" class="nav-btn nav-page3"></li>
            <li data-target="4" class="nav-btn nav-page4"></li>
            <li data-target="5" class="nav-btn nav-page5"></li>
            <li data-target="6" class="nav-btn nav-page6"></li>
            <li data-target="7" class="nav-btn nav-page7"></li>
            <li data-target="8" class="nav-btn nav-page8"></li>
            <li data-target="9" class="nav-btn nav-page9"></li>
            <li data-target="10" class="nav-btn nav-page10"></li>
        </ul>
    </nav>
</div>
<script>
    'use strict';
    $(document).ready(function () {
        var $wrap = $('.wrapper'), pages = $('.page').length, scrolling = false, currentPage = 1, $navPanel = $('.nav-panel'), $scrollBtn = $('.scroll-btn'), $navBtn = $('.nav-btn');
        function manageClasses() {
            $wrap.removeClass(function (index, css) {
                return (css.match(/(^|\s)active-page\S+/g) || []).join(' ');
            });
            $wrap.addClass('active-page' + currentPage);
            $navBtn.removeClass('active');
            $('.nav-btn.nav-page' + currentPage).addClass('active');
            $navPanel.addClass('invisible');
            scrolling = true;
            setTimeout(function () {
                $navPanel.removeClass('invisible');
                scrolling = false;
            }, 1000);
        }
        function navigateUp() {
            if (currentPage > 1) {
                currentPage--;
                if (Modernizr.csstransforms) {
                    manageClasses();
                } else {
                    $wrap.animate({ 'top': '-' + (currentPage - 1) * 100 + '%' }, 1000);
                }
            }
        }
        function navigateDown() {
            if (currentPage < pages) {
                currentPage++;
                if (Modernizr.csstransforms) {
                    manageClasses();
                } else {
                    $wrap.animate({ 'top': '-' + (currentPage - 1) * 100 + '%' }, 1000);
                }
            }
        }
        $(document).on('mousewheel DOMMouseScroll', function (e) {
            if (!scrolling) {
                if (e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
                    navigateUp();
                } else {
                    navigateDown();
                }
            }
        });
        $(document).on('click', '.scroll-btn', function () {
            if ($(this).hasClass('up')) {
                navigateUp();
            } else {
                navigateDown();
            }
        });
        $(document).on('click', '.nav-btn:not(.active)', function () {
            if (!scrolling) {
                var target = $(this).attr('data-target');
                if (Modernizr.csstransforms) {
                    $wrap.removeClass(function (index, css) {
                        return (css.match(/(^|\s)active-page\S+/g) || []).join(' ');
                    });
                    $wrap.addClass('active-page' + target);
                    $navBtn.removeClass('active');
                    $(this).addClass('active');
                    $navPanel.addClass('invisible');
                    currentPage = target;
                    scrolling = true;
                    setTimeout(function () {
                        $navPanel.removeClass('invisible');
                        scrolling = false;
                    }, 1000);
                } else {
                    $wrap.animate({ 'top': '-' + (target - 1) * 100 + '%' }, 1000);
                }
            }
        });
    });
</script>